$color_degrade1:#dde9e2;
$color_degrade2:#f7f8f0;
$fontBlack_color:#2F3231;
$midleBlack_color:#505150;


.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;
     background:linear-gradient(135deg,$color_degrade1,$color_degrade2);
}
.leftBox{
    width: 50%;
    padding-left: 150px;
    display: flex;
    align-items: center;
}
.rightBox{
    width: 50%;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phones{
    width: 70%;
    height: auto;
};
.logoBox{
    width: 100%;
}
.logo{
    width: 25%;
    height: auto;
    margin-bottom: 45px;
}
.Text{
    font-family:'Open_Sans',sans-serif;
    font-weight: 500;
    color:$fontBlack_color;
    font-size: 27px;
}
.text2{
  
    font-family:'Open_Sans',sans-serif;
    font-weight: 300;
    color:$midleBlack_color;
    font-size: 20px;
    margin-top: 50px;
}
.btn{
    background-color: #ECB723;
    width: 30%;
    padding: 15px 20px 15px 20px;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 25px;
}


@media screen and (max-width:576px){
    .bg{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction:column;
    }

    .leftBox{
    width: 100%;
    padding:50;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .rightBox{
    width: 100%;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .logoBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .Text{
        text-align: center;
    }

    .text2{
        text-align: center;
    }

    .btn{
        width: 100%;
    }
}